/* Box Container Header */
	.box-container.header {
	display: flex;
    justify-content: space-between;
    background-color: #f0f0f0;
	text-decoration: #353535;
    padding: 10px;
    font-weight: bold;
}

/* Box Container Rows */
.box-container.row {
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0; /* Row background color */
    padding: 10px;
}

/* Individual Columns */
.column {
    flex: 1;
    text-align: center;
    padding: 5px;
}

.column:first-child {
    text-align: left;
}

.column:last-child {
    text-align: right;
}

/* Actions Buttons */
.action-button {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.approve-button {
    background-color: #26B99A; /* Approve button background color */
}

.decline-button {
    background-color: #A03232; /* Decline button background color */
}